# Pandas: grouping

In [79]:
import pandas as pd
import numpy as np

In [80]:
cars = pd.read_csv("mtcar/vehicles.csv")

In [81]:
cars.head()
cars.shape

(35952, 15)

How many Car models?

In [82]:
### your code is here

len(cars['Model'].unique())

3608

group by the data by the Make  using count function

In [83]:
### your code us here

cars['Make'].count()

#cars.sort_values("Model", ascending=False)

35952

What brand has the most cars?

In [84]:
### your code us here

cars['Make'].value_counts().index[0]

'Chevrolet'

<b>show the average CO2_Emission_Grams/Km  by Brand

In [85]:
## add colum with CO2_Emission_Grams/Km

cars['CO2 Emission Grams/Km'] = list(map(lambda x: x / 1.60934  ,cars['CO2 Emission Grams/Mile']))

#check 
#cars.columns

In [86]:
### your code us here
cars.groupby(['Make'])[['CO2 Emission Grams/Km']].mean()

                             CO2 Emission Grams/Km
Make
AM General                              379.881345
ASC Incorporated                        345.133719
Acura                                   262.583000
Alfa Romeo                              288.287195
American Motors Corporation             314.264744
...                                            ...
Volkswagen                              244.038998
Volvo                                   270.796572
Wallace Environmental                   408.857065
Yugo                                    221.251107
smart                                   153.498052

[127 rows x 1 columns]

<b>show the average CO2_Emission_Grams/Km  by Brand ... sorted

In [87]:
### your code us here
# default is sorted (decending order)
cars.groupby(['Make'])[['CO2 Emission Grams/Km']].mean() #this is per mile 

#.sort_values

                             CO2 Emission Grams/Km
Make
AM General                              379.881345
ASC Incorporated                        345.133719
Acura                                   262.583000
Alfa Romeo                              288.287195
American Motors Corporation             314.264744
...                                            ...
Volkswagen                              244.038998
Volvo                                   270.796572
Wallace Environmental                   408.857065
Yugo                                    221.251107
smart                                   153.498052

[127 rows x 1 columns]

Use `pd.cut` or `pd.qcut` to create 4 groups (bins) of cars, by Year. We want to explore how cars have evolved decade by decade.

In [88]:
cars['Year'].describe()

count    35952.00000
mean      2000.71640
std         10.08529
min       1984.00000
25%       1991.00000
50%       2001.00000
75%       2010.00000
max       2017.00000
Name: Year, dtype: float64

In [89]:
## your code here
# Used qcut becuase it gives the quantiles 

cars["Years_range"] = pd.qcut(cars["Year"], 
                             q=4,
                             labels=["80s", "90s", "00s", "10s"])

### Did cars consume more gas in the eighties?

show the average City_Km/Liter by year_range

In [90]:
### no - cars consumed less in the eighties than the 10s

In [91]:
# Calculate City_km and highway
cars['City_Km/Liter'] = list( map(lambda x: x * ( 1.60934 / 3.78541 ),cars['City MPG']))
cars['City_Km/Liter'] = list( map(lambda x: x * ( 1.60934 / 3.78541 ),cars['Highway MPG']))

In [92]:
### your code is here
cars.groupby(["Years_range"])[['City_Km/Liter']].mean() #

             City_Km/Liter
Years_range
80s               7.326102
90s               7.210326
00s               7.208441
10s               8.394430

Which brands are more environment friendly?

In [93]:
cars.columns

Index(['Make', 'Model', 'Year', 'Engine Displacement', 'Cylinders',
       'Transmission', 'Drivetrain', 'Vehicle Class', 'Fuel Type',
       'Fuel Barrels/Year', 'City MPG', 'Highway MPG', 'Combined MPG',
       'CO2 Emission Grams/Mile', 'Fuel Cost/Year', 'CO2 Emission Grams/Km',
       'Years_range', 'City_Km/Liter', 'Highway_Km/Liter'],
      dtype='object')

In [94]:
### your code is here
cars.groupby("Make")['CO2 Emission Grams/Km'].mean()\
    .sort_values() # ascending order is default

Make
Fisker                                105.011992
smart                                 153.498052
Fiat                                  189.311494
Daihatsu                              192.742404
MINI                                  194.935105
                                         ...
Laforza Automobile Inc                502.012683
Bugatti                               542.497235
Superior Coaches Div E.p. Dutton      552.213951
S and S Coach Company  E.p. Dutton    552.213951
Vector                                651.919248
Name: CO2 Emission Grams/Km, Length: 127, dtype: float64

Does the drivetrain affect fuel consumption?

In [102]:
## Your Code here
cars.groupby('Drivetrain')['City_Km/Liter','Highway_Km/Liter' ].mean()

cars.groupby(['Drivetrain'])['Combined MPG'].mean().sort_values()

/var/folders/np/_4nsf5195pl0jfyhg25kr9q80000gn/T/ipykernel_2877/2294002479.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  cars.groupby('Drivetrain')['City_Km/Liter','Highway_Km/Liter' ].mean()

Drivetrain
2-Wheel Drive, Front          28.000000
Front-Wheel Drive             23.912220
All-Wheel Drive               20.930358
4-Wheel Drive                 19.077505
Rear-Wheel Drive              17.526481
2-Wheel Drive                 17.009456
4-Wheel or All-Wheel Drive    16.744733
Part-time 4-Wheel Drive       16.272152
Name: Combined MPG, dtype: float64

In [ ]:
cars['Drive_type'] = \
    list( map(lambda x: "Front" if ("Front" in x) \
              else "Manual",cars['Transmission']) )

Do cars with automatic transmission consume more fuel than cars with manual transmission?

In [96]:
# Create new col 
cars['Trans'] = \
    list( map(lambda x: "Automatic" if ("Auto" in x) \
              else "Manual",cars['Transmission']) )

In [103]:
cars.groupby('Trans')['City_Km/Liter'].min()

Trans
Automatic    2.976000
Manual       2.550857
Name: City_Km/Liter, dtype: float64

In [97]:
## Your Code here
cars.groupby('Trans')['City_Km/Liter'].mean()

Trans
Automatic    7.278292
Manual       7.968348
Name: City_Km/Liter, dtype: float64

Use `groupby` and `aggregate` with different aggregation measures for different columns:

aggregate with average City_Km/Liter and the count of the Trans

In [99]:
## your code is here
cars.groupby("Trans").aggregate({"City_Km/Liter":"mean","Trans":"count"})

           City_Km/Liter  Trans
Trans
Automatic       7.278292  24290
Manual          7.968348  11662

aggregate with average City_Km/Liter and the minimum of the Trans

In [108]:
### your code is here
#cars["Min_City_Km/Liter"] =cars.groupby('Trans')['City_Km/Liter'].min()
cars.groupby("Trans").aggregate({"City_Km/Liter":"mean"})

           City_Km/Liter
Trans
Automatic       7.278292
Manual          7.968348