# Pandas: grouping

In [1]:
import pandas as pd
import numpy as np

In [2]:
cars = pd.read_csv("mtcar/vehicles.csv")

In [7]:
cars.head()
cars.shape

(35952, 15)

How many Car models?

In [12]:
### your code is here

len(cars['Model'].unique())

3608

group by the data by the Make  using count function

In [14]:
### your code us here

cars['Model'].value_counts()

#cars.sort_values("Model", ascending=False)

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
30941,Scion,xD,2012,1.8,4.0,Automatic 4-spd,Front-Wheel Drive,Subcompact Cars,Regular,11.365862,27,33,29,306.448276,1150
30937,Scion,xD,2010,1.8,4.0,Automatic 4-spd,Front-Wheel Drive,Subcompact Cars,Regular,11.365862,27,33,29,306.448276,1150
30942,Scion,xD,2012,1.8,4.0,Manual 5-spd,Front-Wheel Drive,Subcompact Cars,Regular,11.365862,27,33,29,306.448276,1150
30943,Scion,xD,2013,1.8,4.0,Automatic 4-spd,Front-Wheel Drive,Subcompact Cars,Regular,11.365862,27,33,29,301.000000,1150
30933,Scion,xD,2008,1.8,4.0,Automatic 4-spd,Front-Wheel Drive,Subcompact Cars,Regular,11.771786,26,32,28,317.392857,1200
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32292,Toyota,1-Ton Truck 2WD,1990,3.0,6.0,Manual 5-spd,Rear-Wheel Drive,Standard Pickup Trucks,Regular,17.347895,17,22,19,467.736842,1750
32293,Toyota,1-Ton Truck 2WD,1991,3.0,6.0,Automatic 4-spd,Rear-Wheel Drive,Standard Pickup Trucks,Regular,18.311667,16,21,18,493.722222,1850
32294,Toyota,1-Ton Truck 2WD,1991,3.0,6.0,Manual 5-spd,Rear-Wheel Drive,Standard Pickup Trucks,Regular,18.311667,16,22,18,493.722222,1850
32295,Toyota,1-Ton Truck 2WD,1992,3.0,6.0,Automatic 4-spd,Rear-Wheel Drive,Standard Pickup Trucks,Regular,18.311667,16,21,18,493.722222,1850
32290,Toyota,1-Ton Truck 2WD,1989,3.0,6.0,Manual 5-spd,Rear-Wheel Drive,Standard Pickup Trucks,Regular,17.347895,17,22,19,467.736842,1750

What brand has the most cars?

In [13]:
### your code us here

cars['Make'].value_counts()

Chevrolet                             3643
Ford                                  2946
Dodge                                 2360
GMC                                   2347
Toyota                                1836
                                      ...
Excalibur Autos                          1
S and S Coach Company  E.p. Dutton       1
Environmental Rsch and Devp Corp         1
E. P. Dutton, Inc.                       1
Lambda Control Systems                   1
Name: Make, Length: 127, dtype: int64

<b>show the average CO2_Emission_Grams/Km  by Brand

In [15]:
### your code us here
cars.groupby(['Make'])[['CO2 Emission Grams/Mile']].mean() #this is per mile

                             CO2 Emission Grams/Mile
Make
AM General                                611.358244
ASC Incorporated                          555.437500
Acura                                     422.585325
Alfa Romeo                                463.952115
American Motors Corporation               505.758823
...                                              ...
Volkswagen                                392.741721
Volvo                                     435.803755
Wallace Environmental                     657.990029
Yugo                                      356.068256
smart                                     247.030556

[127 rows x 1 columns]

<b>show the average CO2_Emission_Grams/Km  by Brand ... sorted

In [17]:
### your code us here
# default is sorted 
cars.groupby(['Make'])[['CO2 Emission Grams/Mile']].mean() #this is per mile 

#.sort_values

KeyError: 'Brand'

Use `pd.cut` or `pd.qcut` to create 4 groups (bins) of cars, by Year. We want to explore how cars have evolved decade by decade.

In [19]:
cars['Year'].describe()

count    35952.00000
mean      2000.71640
std         10.08529
min       1984.00000
25%       1991.00000
50%       2001.00000
75%       2010.00000
max       2017.00000
Name: Year, dtype: float64

In [22]:
## your code here
# Used qcut becuase it gives the quantiles 

cars["Years_range"] = pd.qcut(cars["Year"], 
                             q=4,
                             labels=["80s", "90s", "00s", "10s"])

### Did cars consume more gas in the eighties?

show the average City_Km/Liter by year_range

In [ ]:
### your code is here

#@Chrizzz was wie geht das mit dem City KM?

#cars.sort_values("Model", ascending=False)
cars.groupby(["Years_range"])[[INSERT CITY KM HERE]].mean() #this is per mile

Which brands are more environment friendly?

In [23]:
##cars.columns

Index(['Make', 'Model', 'Year', 'Engine Displacement', 'Cylinders',
       'Transmission', 'Drivetrain', 'Vehicle Class', 'Fuel Type',
       'Fuel Barrels/Year', 'City MPG', 'Highway MPG', 'Combined MPG',
       'CO2 Emission Grams/Mile', 'Fuel Cost/Year', 'Year_range',
       'Years_range'],
      dtype='object')

In [24]:
### your code is here

cars.groupby("Make")[["CO2 Emission Grams/Mile"]].mean() #this is per mile

                             CO2 Emission Grams/Mile
Make
AM General                                611.358244
ASC Incorporated                          555.437500
Acura                                     422.585325
Alfa Romeo                                463.952115
American Motors Corporation               505.758823
...                                              ...
Volkswagen                                392.741721
Volvo                                     435.803755
Wallace Environmental                     657.990029
Yugo                                      356.068256
smart                                     247.030556

[127 rows x 1 columns]

Does the drivetrain affect fuel consumption?

In [139]:
## Your Code here

                            Highway_Km/Liter  City_Km/Liter
Drivetrain
2-Wheel Drive, Front               14.029714      10.628571
Front-Wheel Drive                  12.166210       9.002214
All-Wheel Drive                    10.882531       7.785598
4-Wheel Drive                       9.668584       7.190861
2-Wheel Drive                       8.222444       6.642480
Rear-Wheel Drive                    9.023946       6.556574
4-Wheel or All-Wheel Drive          8.347130       6.392049
Part-time 4-Wheel Drive             8.115385       6.215696

Do cars with automatic transmission consume more fuel than cars with manual transmission?

In [80]:
## Your Code here

           City_Km/Liter
Trans
Manual          7.968348
Automatic       7.278292

Use `groupby` and `aggregate` with different aggregation measures for different columns:

aggregate with average City_Km/Liter and the count of the Trans

In [143]:
## your code is here

           City_Km/Liter  Trans
Trans
Automatic       7.278292  24290
Manual          7.968348  11662

aggregate with average City_Km/Liter and the minimum of the Trans

In [144]:
### your code is here

           City_Km/Liter
Trans
Automatic       2.976000
Manual          2.550857