In [87]:
## Case Study Chrisso

# Set up
import numpy as np
import pandas as pd

In [85]:
# input data 

file1 = pd.read_csv('/Users/solveiggleser/Library/CloudStorage/OneDrive-Personal/Ironhack/GitHub/IronSolveig/Customer_Analysis_Case_Study/Data/file1.csv')
file2 = pd.read_csv('/Users/solveiggleser/Library/CloudStorage/OneDrive-Personal/Ironhack/GitHub/IronSolveig/Customer_Analysis_Case_Study/Data/file2.csv')
file3 = pd.read_csv('/Users/solveiggleser/Library/CloudStorage/OneDrive-Personal/Ironhack/GitHub/IronSolveig/Customer_Analysis_Case_Study/Data/file3.csv') 
file4 = pd.read_csv('/Users/solveiggleser/Library/CloudStorage/OneDrive-Personal/Ironhack/GitHub/IronSolveig/Customer_Analysis_Case_Study/Data/Data_Marketing_Customer_Analysis_Round2.csv')


#file_list = [file1, file2, file3, file4]

In [88]:
list(map(lambda x: x.columns, file_list))
list(map(len, list(map(lambda x: x.columns, file_list)) ))

[11, 11, 11, 26]

In [91]:
#Define to lower
def lower_case_column_names(file_list):
    file_list.columns=[i.lower() for i in file_list.columns]
    return file_list

In [92]:
# Apply to_lower

list(map(lower_case_column_names,file_list ))

[     customer       state gender             education  \
 0     RB50392  Washington    NaN                Master
 1     QZ44356     Arizona      F              Bachelor
 2     AI49188      Nevada      F              Bachelor
 3     WW63253  California      M              Bachelor
 4     GA49547  Washington      M  High School or Below
 ...       ...         ...    ...                   ...
 4003      NaN         NaN    NaN                   NaN
 4004      NaN         NaN    NaN                   NaN
 4005      NaN         NaN    NaN                   NaN
 4006      NaN         NaN    NaN                   NaN
 4007      NaN         NaN    NaN                   NaN

      customer lifetime value   income  monthly premium auto  \
 0                        NaN      0.0                1000.0
 1                 697953.59%      0.0                  94.0
 2                1288743.17%  48767.0                 108.0
 3                 764586.18%      0.0                 106.0
 4                 536307.65%  36357.0                  68.0
 ...                      ...      ...                   ...
 4003                     NaN      NaN                   NaN
 4004                     NaN      NaN                   NaN
 4005                     NaN      NaN                   NaN
 4006                     NaN      NaN                   NaN
 4007                     NaN      NaN                   NaN

      number of open complaints     policy type  vehicle class  \
 0                       1/0/00   Personal Auto  Four-Door Car
 1                       1/0/00   Personal Auto  Four-Door Car
 2                       1/0/00   Personal Auto   Two-Door Car
 3                       1/0/00  Corporate Auto            SUV
 4                       1/0/00   Personal Auto  Four-Door Car
 ...                        ...             ...            ...
 4003                       NaN             NaN            NaN
 4004                       NaN             NaN            NaN
 4005                       NaN             NaN            NaN
 4006                       NaN             NaN            NaN
 4007                       NaN             NaN            NaN

       total claim amount
 0               2.704934
 1            1131.464935
 2             566.472247
 3             529.881344
 4              17.269323
 ...                  ...
 4003                 NaN
 4004                 NaN
 4005                 NaN
 4006                 NaN
 4007                 NaN

 [4008 rows x 11 columns],
     customer          st gender education customer lifetime value  income  \
 0    GS98873     Arizona      F  Bachelor              323912.47%   16061
 1    CW49887  California      F    Master              462680.11%   79487
 2    MY31220  California      F   College              899704.02%   54230
 3    UH35128      Oregon      F   College             2580706.30%   71210
 4    WH52799     Arizona      F   College              380812.21%   94903
 ..       ...         ...    ...       ...                     ...     ...
 991  HV85198     Arizona      M    Master              847141.75%   63513
 992  BS91566     Arizona      F   College              543121.91%   58161
 993  IL40123      Nevada      F   College              568964.41%   83640
 994  MY32149  California      F    Master              368672.38%       0
 995  SA91515  California      M  Bachelor              399258.39%       0

      monthly premium auto number of open complaints  total claim amount  \
 0                      88                    1/0/00          633.600000
 1                     114                    1/0/00          547.200000
 2                     112                    1/0/00          537.600000
 3                     214                    1/1/00         1027.200000
 4                      94                    1/0/00          451.200000
 ..                    ...                       ...                 ...
 991                    70                    1/0/00          185.667213
 992                    68                    1/0/00          140.747286
 993                    70                    1/0/00          471.050488
 994                    96                    1/0/00           28.460568
 995                   111                    1/0/00          700.349052

         policy type  vehicle class
 0     Personal Auto  Four-Door Car
 1      Special Auto            SUV
 2     Personal Auto   Two-Door Car
 3     Personal Auto     Luxury Car
 4    Corporate Auto   Two-Door Car
 ..              ...            ...
 991   Personal Auto  Four-Door Car
 992  Corporate Auto  Four-Door Car
 993  Corporate Auto   Two-Door Car
 994   Personal Auto   Two-Door Car
 995   Personal Auto            SUV

 [996 rows x 11 columns],
      customer       state  customer lifetime value             education  \
 0     SA25987  Washington              3479.137523  High School or Below
 1     TB86706     Arizona              2502.637401                Master
 2     ZL73902      Nevada              3265.156348              Bachelor
 3     KX23516  California              4455.843406  High School or Below
 4     FN77294  California              7704.958480  High School or Below
 ...       ...         ...                      ...                   ...
 7065  LA72316  California             23405.987980              Bachelor
 7066  PK87824  California              3096.511217               College
 7067  TD14365  California              8163.890428              Bachelor
 7068  UP19263  California              7524.442436               College
 7069  Y167826  California              2611.836866               College

      gender  income  monthly premium auto  number of open complaints  \
 0         M       0                   104                          0
 1         M       0                    66                          0
 2         F   25820                    82                          0
 3         F       0                   121                          0
 4         M   30366                   101                          2
 ...     ...     ...                   ...                        ...
 7065      M   71941                    73                          0
 7066      F   21604                    79                          0
 7067      M       0                    85                          3
 7068      M   21941                    96                          0
 7069      M       0                    77                          0

          policy type  total claim amount  vehicle class
 0      Personal Auto          499.200000   Two-Door Car
 1      Personal Auto            3.468912   Two-Door Car
 2      Personal Auto          393.600000  Four-Door Car
 3      Personal Auto          699.615192            SUV
 4      Personal Auto          484.800000            SUV
 ...              ...                 ...            ...
 7065   Personal Auto          198.234764  Four-Door Car
 7066  Corporate Auto          379.200000  Four-Door Car
 7067  Corporate Auto          790.784983  Four-Door Car
 7068   Personal Auto          691.200000  Four-Door Car
 7069  Corporate Auto          369.600000   Two-Door Car

 [7070 rows x 11 columns],
        unnamed: 0 customer       state  customer lifetime value response  \
 0               0  DK49336     Arizona              4809.216960       No
 1               1  KX64629  California              2228.525238       No
 2               2  LZ68649  Washington             14947.917300       No
 3               3  XL78013      Oregon             22332.439460      Yes
 4               4  QA50777      Oregon              9025.067525       No
 ...           ...      ...         ...                      ...      ...
 10905       10905  FE99816      Nevada             15563.369440       No
 10906       10906  KX53892      Oregon              5259.444853       No
 10907       10907  TL39050     Arizona             23893.304100       No
 10908       10908  WA60547  California             11971.977650       No
 10909       10909  IV32877         NaN              6857.519928      NaN

        coverage education effective to date employmentstatus gender  ...  \
 0         Basic   College           2/18/11         Employed      M  ...
 1         Basic   College           1/18/11       Unemployed      F  ...
 2         Basic  Bachelor           2/10/11         Employed      M  ...
 3      Extended   College           1/11/11         Employed      M  ...
 4       Premium  Bachelor           1/17/11    Medical Leave      F  ...
 ...         ...       ...               ...              ...    ...  ...
 10905   Premium  Bachelor           1/19/11       Unemployed      F  ...
 10906     Basic   College            1/6/11         Employed      F  ...
 10907  Extended  Bachelor            2/6/11         Employed      F  ...
 10908   Premium   College           2/13/11         Employed      F  ...
 10909     Basic  Bachelor            1/8/11       Unemployed      M  ...

        number of open complaints number of policies     policy type  \
 0                            0.0                  9  Corporate Auto
 1                            0.0                  1   Personal Auto
 2                            0.0                  2   Personal Auto
 3                            0.0                  2  Corporate Auto
 4                            NaN                  7   Personal Auto
 ...                          ...                ...             ...
 10905                        NaN                  7   Personal Auto
 10906                        0.0                  6   Personal Auto
 10907                        0.0                  2  Corporate Auto
 10908                        4.0                  6   Personal Auto
 10909                        0.0                  3   Personal Auto

              policy  renew offer type  sales channel  total claim amount  \
 0      Corporate L3            Offer3          Agent          292.800000
 1       Personal L3            Offer4    Call Center          744.924331
 2       Personal L3            Offer3    Call Center          480.000000
 3      Corporate L3            Offer2         Branch          484.013411
 4       Personal L2            Offer1         Branch          707.925645
 ...             ...               ...            ...                 ...
 10905   Personal L1            Offer3            Web         1214.400000
 10906   Personal L3            Offer2         Branch          273.018929
 10907  Corporate L3            Offer1            Web          381.306996
 10908   Personal L1            Offer1         Branch          618.288849
 10909   Personal L1            Offer4            Web         1021.719397

        vehicle class vehicle size vehicle type
 0      Four-Door Car      Medsize          NaN
 1      Four-Door Car      Medsize          NaN
 2                SUV      Medsize            A
 3      Four-Door Car      Medsize            A
 4      Four-Door Car      Medsize          NaN
 ...              ...          ...          ...
 10905     Luxury Car      Medsize            A
 10906  Four-Door Car      Medsize            A
 10907     Luxury SUV      Medsize          NaN
 10908            SUV      Medsize            A
 10909            SUV      Medsize          NaN

 [10910 rows x 26 columns]]

In [95]:
# define rename 

def rename_columns(file_list):
    file_list.rename(columns={'st':'state'}, inplace=True )
    return file_list

# apply rename 
list(map(rename_columns, file_list))

[     customer       state gender             education  \
 0     RB50392  Washington    NaN                Master
 1     QZ44356     Arizona      F              Bachelor
 2     AI49188      Nevada      F              Bachelor
 3     WW63253  California      M              Bachelor
 4     GA49547  Washington      M  High School or Below
 ...       ...         ...    ...                   ...
 4003      NaN         NaN    NaN                   NaN
 4004      NaN         NaN    NaN                   NaN
 4005      NaN         NaN    NaN                   NaN
 4006      NaN         NaN    NaN                   NaN
 4007      NaN         NaN    NaN                   NaN

      customer lifetime value   income  monthly premium auto  \
 0                        NaN      0.0                1000.0
 1                 697953.59%      0.0                  94.0
 2                1288743.17%  48767.0                 108.0
 3                 764586.18%      0.0                 106.0
 4                 536307.65%  36357.0                  68.0
 ...                      ...      ...                   ...
 4003                     NaN      NaN                   NaN
 4004                     NaN      NaN                   NaN
 4005                     NaN      NaN                   NaN
 4006                     NaN      NaN                   NaN
 4007                     NaN      NaN                   NaN

      number of open complaints     policy type  vehicle class  \
 0                       1/0/00   Personal Auto  Four-Door Car
 1                       1/0/00   Personal Auto  Four-Door Car
 2                       1/0/00   Personal Auto   Two-Door Car
 3                       1/0/00  Corporate Auto            SUV
 4                       1/0/00   Personal Auto  Four-Door Car
 ...                        ...             ...            ...
 4003                       NaN             NaN            NaN
 4004                       NaN             NaN            NaN
 4005                       NaN             NaN            NaN
 4006                       NaN             NaN            NaN
 4007                       NaN             NaN            NaN

       total claim amount
 0               2.704934
 1            1131.464935
 2             566.472247
 3             529.881344
 4              17.269323
 ...                  ...
 4003                 NaN
 4004                 NaN
 4005                 NaN
 4006                 NaN
 4007                 NaN

 [4008 rows x 11 columns],
     customer       state gender education customer lifetime value  income  \
 0    GS98873     Arizona      F  Bachelor              323912.47%   16061
 1    CW49887  California      F    Master              462680.11%   79487
 2    MY31220  California      F   College              899704.02%   54230
 3    UH35128      Oregon      F   College             2580706.30%   71210
 4    WH52799     Arizona      F   College              380812.21%   94903
 ..       ...         ...    ...       ...                     ...     ...
 991  HV85198     Arizona      M    Master              847141.75%   63513
 992  BS91566     Arizona      F   College              543121.91%   58161
 993  IL40123      Nevada      F   College              568964.41%   83640
 994  MY32149  California      F    Master              368672.38%       0
 995  SA91515  California      M  Bachelor              399258.39%       0

      monthly premium auto number of open complaints  total claim amount  \
 0                      88                    1/0/00          633.600000
 1                     114                    1/0/00          547.200000
 2                     112                    1/0/00          537.600000
 3                     214                    1/1/00         1027.200000
 4                      94                    1/0/00          451.200000
 ..                    ...                       ...                 ...
 991                    70                    1/0/00          185.667213
 992                    68                    1/0/00          140.747286
 993                    70                    1/0/00          471.050488
 994                    96                    1/0/00           28.460568
 995                   111                    1/0/00          700.349052

         policy type  vehicle class
 0     Personal Auto  Four-Door Car
 1      Special Auto            SUV
 2     Personal Auto   Two-Door Car
 3     Personal Auto     Luxury Car
 4    Corporate Auto   Two-Door Car
 ..              ...            ...
 991   Personal Auto  Four-Door Car
 992  Corporate Auto  Four-Door Car
 993  Corporate Auto   Two-Door Car
 994   Personal Auto   Two-Door Car
 995   Personal Auto            SUV

 [996 rows x 11 columns],
      customer       state  customer lifetime value             education  \
 0     SA25987  Washington              3479.137523  High School or Below
 1     TB86706     Arizona              2502.637401                Master
 2     ZL73902      Nevada              3265.156348              Bachelor
 3     KX23516  California              4455.843406  High School or Below
 4     FN77294  California              7704.958480  High School or Below
 ...       ...         ...                      ...                   ...
 7065  LA72316  California             23405.987980              Bachelor
 7066  PK87824  California              3096.511217               College
 7067  TD14365  California              8163.890428              Bachelor
 7068  UP19263  California              7524.442436               College
 7069  Y167826  California              2611.836866               College

      gender  income  monthly premium auto  number of open complaints  \
 0         M       0                   104                          0
 1         M       0                    66                          0
 2         F   25820                    82                          0
 3         F       0                   121                          0
 4         M   30366                   101                          2
 ...     ...     ...                   ...                        ...
 7065      M   71941                    73                          0
 7066      F   21604                    79                          0
 7067      M       0                    85                          3
 7068      M   21941                    96                          0
 7069      M       0                    77                          0

          policy type  total claim amount  vehicle class
 0      Personal Auto          499.200000   Two-Door Car
 1      Personal Auto            3.468912   Two-Door Car
 2      Personal Auto          393.600000  Four-Door Car
 3      Personal Auto          699.615192            SUV
 4      Personal Auto          484.800000            SUV
 ...              ...                 ...            ...
 7065   Personal Auto          198.234764  Four-Door Car
 7066  Corporate Auto          379.200000  Four-Door Car
 7067  Corporate Auto          790.784983  Four-Door Car
 7068   Personal Auto          691.200000  Four-Door Car
 7069  Corporate Auto          369.600000   Two-Door Car

 [7070 rows x 11 columns],
        unnamed: 0 customer       state  customer lifetime value response  \
 0               0  DK49336     Arizona              4809.216960       No
 1               1  KX64629  California              2228.525238       No
 2               2  LZ68649  Washington             14947.917300       No
 3               3  XL78013      Oregon             22332.439460      Yes
 4               4  QA50777      Oregon              9025.067525       No
 ...           ...      ...         ...                      ...      ...
 10905       10905  FE99816      Nevada             15563.369440       No
 10906       10906  KX53892      Oregon              5259.444853       No
 10907       10907  TL39050     Arizona             23893.304100       No
 10908       10908  WA60547  California             11971.977650       No
 10909       10909  IV32877         NaN              6857.519928      NaN

        coverage education effective to date employmentstatus gender  ...  \
 0         Basic   College           2/18/11         Employed      M  ...
 1         Basic   College           1/18/11       Unemployed      F  ...
 2         Basic  Bachelor           2/10/11         Employed      M  ...
 3      Extended   College           1/11/11         Employed      M  ...
 4       Premium  Bachelor           1/17/11    Medical Leave      F  ...
 ...         ...       ...               ...              ...    ...  ...
 10905   Premium  Bachelor           1/19/11       Unemployed      F  ...
 10906     Basic   College            1/6/11         Employed      F  ...
 10907  Extended  Bachelor            2/6/11         Employed      F  ...
 10908   Premium   College           2/13/11         Employed      F  ...
 10909     Basic  Bachelor            1/8/11       Unemployed      M  ...

        number of open complaints number of policies     policy type  \
 0                            0.0                  9  Corporate Auto
 1                            0.0                  1   Personal Auto
 2                            0.0                  2   Personal Auto
 3                            0.0                  2  Corporate Auto
 4                            NaN                  7   Personal Auto
 ...                          ...                ...             ...
 10905                        NaN                  7   Personal Auto
 10906                        0.0                  6   Personal Auto
 10907                        0.0                  2  Corporate Auto
 10908                        4.0                  6   Personal Auto
 10909                        0.0                  3   Personal Auto

              policy  renew offer type  sales channel  total claim amount  \
 0      Corporate L3            Offer3          Agent          292.800000
 1       Personal L3            Offer4    Call Center          744.924331
 2       Personal L3            Offer3    Call Center          480.000000
 3      Corporate L3            Offer2         Branch          484.013411
 4       Personal L2            Offer1         Branch          707.925645
 ...             ...               ...            ...                 ...
 10905   Personal L1            Offer3            Web         1214.400000
 10906   Personal L3            Offer2         Branch          273.018929
 10907  Corporate L3            Offer1            Web          381.306996
 10908   Personal L1            Offer1         Branch          618.288849
 10909   Personal L1            Offer4            Web         1021.719397

        vehicle class vehicle size vehicle type
 0      Four-Door Car      Medsize          NaN
 1      Four-Door Car      Medsize          NaN
 2                SUV      Medsize            A
 3      Four-Door Car      Medsize            A
 4      Four-Door Car      Medsize          NaN
 ...              ...          ...          ...
 10905     Luxury Car      Medsize            A
 10906  Four-Door Car      Medsize            A
 10907     Luxury SUV      Medsize          NaN
 10908            SUV      Medsize            A
 10909            SUV      Medsize          NaN

 [10910 rows x 26 columns]]

In [97]:
## define drop

def drop_columns(file_list) :
    file_list.drop(columns=['customer'], inplace=True)
    return file_list

# apply drop

list(map(drop_columns, file_list))

[           state gender             education customer lifetime value  \
 0     Washington    NaN                Master                     NaN
 1        Arizona      F              Bachelor              697953.59%
 2         Nevada      F              Bachelor             1288743.17%
 3     California      M              Bachelor              764586.18%
 4     Washington      M  High School or Below              536307.65%
 ...          ...    ...                   ...                     ...
 4003         NaN    NaN                   NaN                     NaN
 4004         NaN    NaN                   NaN                     NaN
 4005         NaN    NaN                   NaN                     NaN
 4006         NaN    NaN                   NaN                     NaN
 4007         NaN    NaN                   NaN                     NaN

        income  monthly premium auto number of open complaints     policy type  \
 0         0.0                1000.0                    1/0/00   Personal Auto
 1         0.0                  94.0                    1/0/00   Personal Auto
 2     48767.0                 108.0                    1/0/00   Personal Auto
 3         0.0                 106.0                    1/0/00  Corporate Auto
 4     36357.0                  68.0                    1/0/00   Personal Auto
 ...       ...                   ...                       ...             ...
 4003      NaN                   NaN                       NaN             NaN
 4004      NaN                   NaN                       NaN             NaN
 4005      NaN                   NaN                       NaN             NaN
 4006      NaN                   NaN                       NaN             NaN
 4007      NaN                   NaN                       NaN             NaN

       vehicle class  total claim amount
 0     Four-Door Car            2.704934
 1     Four-Door Car         1131.464935
 2      Two-Door Car          566.472247
 3               SUV          529.881344
 4     Four-Door Car           17.269323
 ...             ...                 ...
 4003            NaN                 NaN
 4004            NaN                 NaN
 4005            NaN                 NaN
 4006            NaN                 NaN
 4007            NaN                 NaN

 [4008 rows x 10 columns],
           state gender education customer lifetime value  income  \
 0       Arizona      F  Bachelor              323912.47%   16061
 1    California      F    Master              462680.11%   79487
 2    California      F   College              899704.02%   54230
 3        Oregon      F   College             2580706.30%   71210
 4       Arizona      F   College              380812.21%   94903
 ..          ...    ...       ...                     ...     ...
 991     Arizona      M    Master              847141.75%   63513
 992     Arizona      F   College              543121.91%   58161
 993      Nevada      F   College              568964.41%   83640
 994  California      F    Master              368672.38%       0
 995  California      M  Bachelor              399258.39%       0

      monthly premium auto number of open complaints  total claim amount  \
 0                      88                    1/0/00          633.600000
 1                     114                    1/0/00          547.200000
 2                     112                    1/0/00          537.600000
 3                     214                    1/1/00         1027.200000
 4                      94                    1/0/00          451.200000
 ..                    ...                       ...                 ...
 991                    70                    1/0/00          185.667213
 992                    68                    1/0/00          140.747286
 993                    70                    1/0/00          471.050488
 994                    96                    1/0/00           28.460568
 995                   111                    1/0/00          700.349052

         policy type  vehicle class
 0     Personal Auto  Four-Door Car
 1      Special Auto            SUV
 2     Personal Auto   Two-Door Car
 3     Personal Auto     Luxury Car
 4    Corporate Auto   Two-Door Car
 ..              ...            ...
 991   Personal Auto  Four-Door Car
 992  Corporate Auto  Four-Door Car
 993  Corporate Auto   Two-Door Car
 994   Personal Auto   Two-Door Car
 995   Personal Auto            SUV

 [996 rows x 10 columns],
            state  customer lifetime value             education gender  \
 0     Washington              3479.137523  High School or Below      M
 1        Arizona              2502.637401                Master      M
 2         Nevada              3265.156348              Bachelor      F
 3     California              4455.843406  High School or Below      F
 4     California              7704.958480  High School or Below      M
 ...          ...                      ...                   ...    ...
 7065  California             23405.987980              Bachelor      M
 7066  California              3096.511217               College      F
 7067  California              8163.890428              Bachelor      M
 7068  California              7524.442436               College      M
 7069  California              2611.836866               College      M

       income  monthly premium auto  number of open complaints     policy type  \
 0          0                   104                          0   Personal Auto
 1          0                    66                          0   Personal Auto
 2      25820                    82                          0   Personal Auto
 3          0                   121                          0   Personal Auto
 4      30366                   101                          2   Personal Auto
 ...      ...                   ...                        ...             ...
 7065   71941                    73                          0   Personal Auto
 7066   21604                    79                          0  Corporate Auto
 7067       0                    85                          3  Corporate Auto
 7068   21941                    96                          0   Personal Auto
 7069       0                    77                          0  Corporate Auto

       total claim amount  vehicle class
 0             499.200000   Two-Door Car
 1               3.468912   Two-Door Car
 2             393.600000  Four-Door Car
 3             699.615192            SUV
 4             484.800000            SUV
 ...                  ...            ...
 7065          198.234764  Four-Door Car
 7066          379.200000  Four-Door Car
 7067          790.784983  Four-Door Car
 7068          691.200000  Four-Door Car
 7069          369.600000   Two-Door Car

 [7070 rows x 10 columns],
        unnamed: 0       state  customer lifetime value response  coverage  \
 0               0     Arizona              4809.216960       No     Basic
 1               1  California              2228.525238       No     Basic
 2               2  Washington             14947.917300       No     Basic
 3               3      Oregon             22332.439460      Yes  Extended
 4               4      Oregon              9025.067525       No   Premium
 ...           ...         ...                      ...      ...       ...
 10905       10905      Nevada             15563.369440       No   Premium
 10906       10906      Oregon              5259.444853       No     Basic
 10907       10907     Arizona             23893.304100       No  Extended
 10908       10908  California             11971.977650       No   Premium
 10909       10909         NaN              6857.519928      NaN     Basic

       education effective to date employmentstatus gender  income  ...  \
 0       College           2/18/11         Employed      M   48029  ...
 1       College           1/18/11       Unemployed      F       0  ...
 2      Bachelor           2/10/11         Employed      M   22139  ...
 3       College           1/11/11         Employed      M   49078  ...
 4      Bachelor           1/17/11    Medical Leave      F   23675  ...
 ...         ...               ...              ...    ...     ...  ...
 10905  Bachelor           1/19/11       Unemployed      F       0  ...
 10906   College            1/6/11         Employed      F   61146  ...
 10907  Bachelor            2/6/11         Employed      F   39837  ...
 10908   College           2/13/11         Employed      F   64195  ...
 10909  Bachelor            1/8/11       Unemployed      M       0  ...

       number of open complaints number of policies     policy type  \
 0                           0.0                  9  Corporate Auto
 1                           0.0                  1   Personal Auto
 2                           0.0                  2   Personal Auto
 3                           0.0                  2  Corporate Auto
 4                           NaN                  7   Personal Auto
 ...                         ...                ...             ...
 10905                       NaN                  7   Personal Auto
 10906                       0.0                  6   Personal Auto
 10907                       0.0                  2  Corporate Auto
 10908                       4.0                  6   Personal Auto
 10909                       0.0                  3   Personal Auto

              policy  renew offer type  sales channel  total claim amount  \
 0      Corporate L3            Offer3          Agent          292.800000
 1       Personal L3            Offer4    Call Center          744.924331
 2       Personal L3            Offer3    Call Center          480.000000
 3      Corporate L3            Offer2         Branch          484.013411
 4       Personal L2            Offer1         Branch          707.925645
 ...             ...               ...            ...                 ...
 10905   Personal L1            Offer3            Web         1214.400000
 10906   Personal L3            Offer2         Branch          273.018929
 10907  Corporate L3            Offer1            Web          381.306996
 10908   Personal L1            Offer1         Branch          618.288849
 10909   Personal L1            Offer4            Web         1021.719397

        vehicle class vehicle size vehicle type
 0      Four-Door Car      Medsize          NaN
 1      Four-Door Car      Medsize          NaN
 2                SUV      Medsize            A
 3      Four-Door Car      Medsize            A
 4      Four-Door Car      Medsize          NaN
 ...              ...          ...          ...
 10905     Luxury Car      Medsize            A
 10906  Four-Door Car      Medsize            A
 10907     Luxury SUV      Medsize          NaN
 10908            SUV      Medsize            A
 10909            SUV      Medsize          NaN

 [10910 rows x 25 columns]]

In [99]:
# concat 

files_all = pd.concat(file_list, axis=0)

files_all

,state,gender,education,customer lifetime value,income,monthly premium auto,number of open complaints,policy type,vehicle class,total claim amount,...,location code,marital status,months since last claim,months since policy inception,number of policies,policy,renew offer type,sales channel,vehicle size,vehicle type
0,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,Nevada,F,Bachelor,15563.36944,0.0,253.0,NaN,Personal Auto,Luxury Car,1214.400000,...,Suburban,Married,NaN,40.0,7.0,Personal L1,Offer3,Web,Medsize,A
10906,Oregon,F,College,5259.444853,61146.0,65.0,0.0,Personal Auto,Four-Door Car,273.018929,...,Urban,Married,7.0,68.0,6.0,Personal L3,Offer2,Branch,Medsize,A
10907,Arizona,F,Bachelor,23893.3041,39837.0,201.0,0.0,Corporate Auto,Luxury SUV,381.306996,...,Rural,Married,11.0,63.0,2.0,Corporate L3,Offer1,Web,Medsize,NaN
10908,California,F,College,11971.97765,64195.0,158.0,4.0,Personal Auto,SUV,618.288849,...,Urban,Divorced,0.0,27.0,6.0,Personal L1,Offer1,Branch,Medsize,A
10909,NaN,M,Bachelor,6857.519928,0.0,101.0,0.0,Personal Auto,SUV,1021.719397,...,Suburban,Single,31.0,1.0,3.0,Personal L1,Offer4,Web,Medsize,NaN

In [103]:
# data type 

#files_all.describe
files_all.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22984 entries, 0 to 10909
Data columns (total 25 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   state                          19416 non-null  object
 1   gender                         19925 non-null  object
 2   education                      20047 non-null  object
 3   customer lifetime value        20040 non-null  object
 4   income                         20047 non-null  float64
 5   monthly premium auto           20047 non-null  float64
 6   number of open complaints      19414 non-null  object
 7   policy type                    20047 non-null  object
 8   vehicle class                  19425 non-null  object
 9   total claim amount             20047 non-null  float64
 10  unnamed: 0                     10910 non-null  float64
 11  response                       10279 non-null  object
 12  coverage                       10910 non-null  object
 13  effective to date              10910 non-null  object
 14  employmentstatus               10910 non-null  object
 15  location code                  10910 non-null  object
 16  marital status                 10910 non-null  object
 17  months since last claim        10277 non-null  float64
 18  months since policy inception  10910 non-null  float64
 19  number of policies             10910 non-null  float64
 20  policy                         10910 non-null  object
 21  renew offer type               10910 non-null  object
 22  sales channel                  10910 non-null  object
 23  vehicle size                   10288 non-null  object
 24  vehicle type                   5428 non-null   object
dtypes: float64(7), object(18)
memory usage: 4.6+ MB

In [114]:
## remove % 'customer lifetime value'

files_all['customer lifetime value'] = files_all['customer lifetime value'].str.replace('%', "")

#change to numeric 

files_all['customer lifetime value'] =  pd.to_numeric(files_all['customer lifetime value'])
#files_all.info() # check

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22984 entries, 0 to 10909
Data columns (total 25 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   state                          19416 non-null  object
 1   gender                         19925 non-null  object
 2   education                      20047 non-null  object
 3   customer lifetime value        2060 non-null   float64
 4   income                         20047 non-null  float64
 5   monthly premium auto           20047 non-null  float64
 6   number of open complaints      19414 non-null  object
 7   policy type                    20047 non-null  object
 8   vehicle class                  19425 non-null  object
 9   total claim amount             20047 non-null  float64
 10  unnamed: 0                     10910 non-null  float64
 11  response                       10279 non-null  object
 12  coverage                       10910 non-null  object
 13  effective to date              10910 non-null  object
 14  employmentstatus               10910 non-null  object
 15  location code                  10910 non-null  object
 16  marital status                 10910 non-null  object
 17  months since last claim        10277 non-null  float64
 18  months since policy inception  10910 non-null  float64
 19  number of policies             10910 non-null  float64
 20  policy                         10910 non-null  object
 21  renew offer type               10910 non-null  object
 22  sales channel                  10910 non-null  object
 23  vehicle size                   10288 non-null  object
 24  vehicle type                   5428 non-null   object
dtypes: float64(8), object(17)
memory usage: 4.6+ MB

In [117]:
print(files_all['number of open complaints'])

0        1/0/00
1        1/0/00
2        1/0/00
3        1/0/00
4        1/0/00
          ...
10905       NaN
10906       0.0
10907       0.0
10908       4.0
10909       0.0
Name: number of open complaints, Length: 22984, dtype: object

In [119]:
# Replace with regex


#files_all['number of open complaints'] = files_all['number of open complaints'].str.replace(r'\D+', '', regex=True).astype('int')
#print(files_all)

In [125]:
## remove dublicates 

files_all.drop_duplicates(subset=['customer lifetime value', 'income', 'total claim amount' ], keep='first', inplace=True)

In [126]:
files_all.info

<bound method DataFrame.info of             state gender             education  customer lifetime value  \
0      Washington    NaN                Master                      NaN
1         Arizona      F              Bachelor                697953.59
2          Nevada      F              Bachelor               1288743.17
3      California      M              Bachelor                764586.18
4      Washington      M  High School or Below                536307.65
...           ...    ...                   ...                      ...
10882     Arizona      F              Bachelor                      NaN
10895  California      F              Bachelor                      NaN
10896      Oregon      F  High School or Below                      NaN
10901  Washington      M              Bachelor                      NaN
10903     Arizona      M               College                      NaN

        income  monthly premium auto number of open complaints  \
0          0.0                1000.0                    1/0/00
1          0.0                  94.0                    1/0/00
2      48767.0                 108.0                    1/0/00
3          0.0                 106.0                    1/0/00
4      36357.0                  68.0                    1/0/00
...        ...                   ...                       ...
10882  81676.0                  72.0                       0.0
10895  28334.0                  83.0                       0.0
10896  70699.0                  82.0                       0.0
10901  33531.0                 116.0                       0.0
10903  59855.0                  74.0                       4.0

          policy type  vehicle class  total claim amount  ...  location code  \
0       Personal Auto  Four-Door Car            2.704934  ...            NaN
1       Personal Auto  Four-Door Car         1131.464935  ...            NaN
2       Personal Auto   Two-Door Car          566.472247  ...            NaN
3      Corporate Auto            SUV          529.881344  ...            NaN
4       Personal Auto  Four-Door Car           17.269323  ...            NaN
...               ...            ...                 ...  ...            ...
10882   Personal Auto   Two-Door Car          463.158502  ...       Suburban
10895    Special Auto  Four-Door Car          537.765151  ...       Suburban
10896   Personal Auto  Four-Door Car          256.813837  ...          Urban
10901   Personal Auto   Two-Door Car          801.577478  ...       Suburban
10903   Personal Auto   Two-Door Car          355.200000  ...       Suburban

      marital status months since last claim months since policy inception  \
0                NaN                     NaN                           NaN
1                NaN                     NaN                           NaN
2                NaN                     NaN                           NaN
3                NaN                     NaN                           NaN
4                NaN                     NaN                           NaN
...              ...                     ...                           ...
10882        Married                    21.0                          86.0
10895         Single                     3.0                          44.0
10896       Divorced                     1.0                          57.0
10901        Married                    11.0                          15.0
10903        Married                    30.0                          82.0

      number of policies       policy renew offer type  sales channel  \
0                    NaN          NaN              NaN            NaN
1                    NaN          NaN              NaN            NaN
2                    NaN          NaN              NaN            NaN
3                    NaN          NaN              NaN            NaN
4                    NaN          NaN              NaN            NaN
...                  ...          ...              ...            ...
10882                8.0  Personal L2           Offer1          Agent
10895                7.0   Special L3           Offer1          Agent
10896                2.0  Personal L2           Offer3          Agent
10901                1.0  Personal L3           Offer4          Agent
10903                1.0  Personal L2           Offer2         Branch

       vehicle size  vehicle type
0               NaN           NaN
1               NaN           NaN
2               NaN           NaN
3               NaN           NaN
4               NaN           NaN
...             ...           ...
10882         Small           NaN
10895       Medsize             A
10896       Medsize             A
10901       Medsize           NaN
10903       Medsize             A

[8929 rows x 25 columns]>

In [ ]:
## Replacing null values – Replace missing values with means of the column (for numerical columns)