 ## Import the required libraries and modules that you would need.

In [39]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.tree import DecisionTreeRegressor
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.tree import plot_tree
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import PowerTransformer
from sklearn.metrics import accuracy_score, precision_score, recall_score, confusion_matrix
from sklearn.metrics import plot_confusion_matrix
from sklearn.preprocessing import PowerTransformer
from sklearn.linear_model import LinearRegression
from sklearn.neighbors import KNeighborsClassifier # Import KNeighborsClassifier to use the K-NN for classification
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
import pickle
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import cross_val_predict


from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier

In [55]:
churnData_down = pd.read_csv('churn_downsampled.csv') ## downsampled Churn data 
churnData_raw = pd.read_csv('DATA_Customer-Churn.csv') ## original Churn data 
churnData_up= pd.read_csv('churn_upsampled.csv') ## Upsamples Churn data

In [47]:
#len(churnData_down)
#len(churnData_raw)
#len(ChurnData_up)

3738

In [48]:
#churnData_down.columns

Index(['Unnamed: 0', 'gender', 'SeniorCitizen', 'Partner', 'Dependents',
       'tenure', 'PhoneService', 'OnlineSecurity', 'OnlineBackup',
       'DeviceProtection', 'TechSupport', 'StreamingTV', 'StreamingMovies',
       'Contract', 'MonthlyCharges', 'TotalCharges', 'Churn'],
      dtype='object')

In [5]:
#churnData.dtypes

Unnamed: 0            int64
gender               object
SeniorCitizen         int64
Partner              object
Dependents           object
tenure                int64
PhoneService         object
OnlineSecurity       object
OnlineBackup         object
DeviceProtection     object
TechSupport          object
StreamingTV          object
StreamingMovies      object
Contract             object
MonthlyCharges      float64
TotalCharges        float64
Churn                 int64
dtype: object

In [63]:
churnData_raw.Churn.replace(('Yes', 'No'), (1, 0), inplace=True)
churnData_down.Churn.replace(('Yes', 'No'), (1, 0), inplace=True)
churnData_up.Churn.replace(('Yes', 'No'), (1, 0), inplace=True)

In [64]:
churnData_raw['TotalCharges'] = pd.to_numeric(churnData_raw['TotalCharges'], errors='coerce')

churnData_down['TotalCharges'] = pd.to_numeric(churnData_down['TotalCharges'], errors='coerce')

churnData_up['TotalCharges'] = pd.to_numeric(churnData_up['TotalCharges'], errors='coerce')

### Dealing with Missing values

In [58]:
#churnData.isnull()
churnData_raw =churnData.fillna(churnData_raw.mean()) 
churnData_down =churnData.fillna(churnData_down.mean()) 
churnData_up =churnData.fillna(churnData_up.mean())

In [9]:
churnData

,Unnamed: 0,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,MonthlyCharges,TotalCharges,Churn
0,4089,Female,0,No,No,9,Yes,No,No,No,No,No,No,Month-to-month,74.75,706.60,1
1,3496,Male,0,No,No,25,Yes,Yes,No,No,No,No,No,Month-to-month,74.30,1952.25,0
2,6718,Male,0,No,No,3,Yes,No,No,No,No,No,No,Month-to-month,75.00,209.10,1
3,2854,Male,0,Yes,Yes,17,Yes,Yes,No,Yes,No,Yes,No,One year,70.35,1201.65,0
4,4257,Female,0,Yes,No,49,Yes,No,Yes,Yes,No,Yes,Yes,Month-to-month,99.40,5025.00,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3733,1769,Male,0,Yes,No,71,Yes,No,Yes,Yes,No,No,Yes,Month-to-month,93.25,6669.45,0
3734,333,Female,0,No,No,7,Yes,No,No,No,No,No,No,Month-to-month,73.85,511.25,1
3735,2035,Female,0,No,Yes,43,Yes,Yes,Yes,No,No,No,Yes,Month-to-month,63.95,2737.05,0
3736,6502,Female,0,Yes,Yes,44,Yes,Yes,No,No,Yes,No,No,Month-to-month,56.25,2419.55,0
3737,2638,Male,0,No,No,52,Yes,No,Yes,Yes,Yes,Yes,Yes,One year,105.00,5426.85,1

## Use the following features: tenure, SeniorCitizen, MonthlyCharges and TotalCharges:

In [59]:
df_features_up = churnData_up[['tenure', 'SeniorCitizen', 'MonthlyCharges', 'TotalCharges']]
df_features_down = churnData_down[['tenure', 'SeniorCitizen', 'MonthlyCharges', 'TotalCharges']]
df_features_raw = churnData_raw[['tenure', 'SeniorCitizen', 'MonthlyCharges', 'TotalCharges']]

## define xy

In [65]:
#define X and y (features and target)
X = df_features_up
y = churnData_up['Churn']

In [66]:
## Data splitting
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=11)

In [67]:
## run on upsampled

model_clf_upsampled = RandomForestClassifier(max_depth=3, random_state=0)
model_clf_upsampled.fit(X_train, y_train)
print(model_clf_upsampled.score(X_train, y_train))
print(model_clf_upsampled.score(X_test, y_test))

ValueError: could not convert string to float: ''

In [12]:
print(X.shape)
print(y.shape)

(7043, 4)
(7043,)

## Fitting random forest

In [21]:
model_clf_raw = RandomForestClassifier(max_depth=3, random_state=0)
model_clf_raw.fit(X_train, y_train)
print(model_clf_raw.score(X_train, y_train))
print(model_clf_raw.score(X_test, y_test))

0.7939148073022312
0.7808802650260294

In [ ]:
X = df_features_raw 
y = churnData_raw['Churn']

In [32]:
## run on upsampled
model_clf_dsampled = RandomForestClassifier(max_depth=3, random_state=0)
model_clf_dsampled.fit(X_train, y_train)
print(model_clf_dsampled.score(X_train, y_train))
print(model_clf_dsampled.score(X_test, y_test))

0.7939148073022312
0.7808802650260294