## Import the required libraries and modules that you would need.
- Read that data into Python and call the dataframe churnData.
- Check the datatypes of all the columns in the data. You would see that the column TotalCharges is object type. Convert this column into numeric type using pd.to_numeric function.
- Check for null values in the dataframe. Replace the null values.
- Use the following features: tenure, SeniorCitizen, MonthlyCharges and TotalCharges:
- Scale the features either by using normalizer or a standard scaler.
- Split the data into a training set and a test set.
- Fit a logistic Regression model on the training data.
- Fit a Knn Classifier model on the training data

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.datasets import load_boston
from sklearn.datasets import load_iris, load_breast_cancer
from sklearn.tree import DecisionTreeRegressor
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.tree import plot_tree

In [11]:
churnData = pd.read_csv('Telco-Customer-Churn.csv')

In [12]:
churnData.columns

Index(['customerID', 'gender', 'SeniorCitizen', 'Partner', 'Dependents',
       'tenure', 'PhoneService', 'MultipleLines', 'InternetService',
       'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport',
       'StreamingTV', 'StreamingMovies', 'Contract', 'PaperlessBilling',
       'PaymentMethod', 'MonthlyCharges', 'TotalCharges', 'Churn'],
      dtype='object')

In [14]:
churnData.dtypes

customerID           object
gender               object
SeniorCitizen         int64
Partner              object
Dependents           object
tenure                int64
PhoneService         object
MultipleLines        object
InternetService      object
OnlineSecurity       object
OnlineBackup         object
DeviceProtection     object
TechSupport          object
StreamingTV          object
StreamingMovies      object
Contract             object
PaperlessBilling     object
PaymentMethod        object
MonthlyCharges      float64
TotalCharges         object
Churn                object
dtype: object

In [16]:
pd.to_numeric(churnData['MonthlyCharges'])

0        29.85
1        56.95
2        53.85
3        42.30
4        70.70
         ...
7038     84.80
7039    103.20
7040     29.60
7041     74.40
7042    105.65
Name: MonthlyCharges, Length: 7043, dtype: float64

### Dealing with Missing values

In [21]:
#churnData.isnull()

churnData =churnData.fillna(churnData.mean()) # replaces all Na with mean

#df.fillna(df.mean(), inplace=True) - Also works 

# churnData.isnull().values.any() ## check if any NA left - No

/var/folders/np/_4nsf5195pl0jfyhg25kr9q80000gn/T/ipykernel_1423/1798267192.py:3: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  churnData =churnData.fillna(churnData.mean())

False

## Use the following features: tenure, SeniorCitizen, MonthlyCharges and TotalCharges:

In [25]:
df = churnData[['tenure', 'SeniorCitizen', 'MonthlyCharges', 'TotalCharges']]

df

      tenure  SeniorCitizen  MonthlyCharges TotalCharges
0          1              0           29.85        29.85
1         34              0           56.95       1889.5
2          2              0           53.85       108.15
3         45              0           42.30      1840.75
4          2              0           70.70       151.65
...      ...            ...             ...          ...
7038      24              0           84.80       1990.5
7039      72              0          103.20       7362.9
7040      11              0           29.60       346.45
7041       4              1           74.40        306.6
7042      66              0          105.65       6844.5

[7043 rows x 4 columns]